* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner section style */
.banner {
    background-image: url(../assets/media/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;


}

.banner-info {
    width: 525px;
    text-align: right;
    position: absolute;
    right: 10%;
    bottom: 20%;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    color: #151414;
    margin-bottom: 24px;

}

.banner-discription {
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;

}

.banner-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    padding: 20px 25px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border: none;

}

/* about me failure and successful section styles  */
.about {
    width: 75%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 130px 0;
    justify-content: space-evenly;
}

.about-img {}

.about-info {
    width: 416px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.about-discription {
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;

}

.about-list i {
    color: #16D887;
    margin-bottom: 8px;
}

/* my plan section styles  */
.my-plan {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 130px;
}

.my-plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 50px;
}

.plan-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-bottom: 16px;
}

.plan-discription {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* mindset section style  */
.mindset {
    width: 75%;
    height: 300px;
    background-image: url(../assets/media/images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 100px;
    border-radius: 8px;

}

.mindset-info {
    width: 459px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    padding: 59px 847px 60px 64px;
    border-radius: 8px;
}

.mindset-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.btn-mindset {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #F15B22;
    padding: 20px 36px;
    border: none;
    border-radius: 5px;

}

/* footer section styles  */

.footer {
    background: #151414;
    ;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding: 130px 0;
}

.contact {
    width: 485px;
}

.contact-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.contact-discription {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contact-email {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contact-phn {
    color: #FFFFFF;
    margin-bottom: 32px;
}

.contact i {
    margin-right: 10px;
}

.fa-facebook {
    font-size: 50px;
    background-color: #F8F8F8;
    color: #4267B2;
    border-radius: 50%;
}

.fa-twitter {
    font-size: 50px;
    background-color: #F8F8F8;
    color: #00acee;
    border-radius: 50%;

}

.fa-youtube {
    font-size: 50px;
    background-color: #F8F8F8;
    color: #c4302b;
    border-radius: 50%;
}

.subscribe {
    width: 325px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.subscribe-email {
    width: 60%;
    padding: 10px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #F3F3F3;
    background: #151414;
    font-size: 18px;
    margin-bottom: 16px;
}

.btn-subscribe {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 10px 21px;
    border-radius: 10px;
    background: #FFFFFF;
}